<mat-divider></mat-divider>
<div class="subtitle">
    Параметры функции
    <span class="rnd" (click)="service.randomizeFunctionArgs()"></span>
</div>
<div class="math-inputs" [formGroup]="service.functionArgsForm">
    <mat-form-field appearance="fill" class="math-field greek">
        <mat-label class="math-label">α</mat-label>
        <input
            formControlName="alpha"
            type="number"
            matInput
            autocomplete="off"
        />
        <span
            matSuffix
            class="rnd"
            (click)="
                service.randomize(
                    service.functionArgsForm,
                    'alpha',
                    randomFunctionArg
                )
            "
        ></span>
        <mat-error
            class="greek"
            *ngIf="service.functionArgsForm.controls.alpha.errors?.range"
            ><span class="centerize">α</span>∉[-100;100]</mat-error
        >
        <mat-error
            class="greek"
            *ngIf="service.functionArgsForm.controls.alpha.errors?.required"
            >!<span class="centerize">α</span></mat-error
        >
    </mat-form-field>
    <mat-form-field appearance="fill" class="math-field greek">
        <mat-label class="math-label">β</mat-label>
        <input
            formControlName="beta"
            type="number"
            matInput
            autocomplete="off"
        />
        <span
            matSuffix
            class="rnd"
            (click)="
                service.randomize(
                    service.functionArgsForm,
                    'beta',
                    randomFunctionArg
                )
            "
        ></span>
        <mat-error *ngIf="service.functionArgsForm.controls.beta.errors?.range"
            ><span class="centerize">β</span>∉[-100;100]</mat-error
        >
        <mat-error
            class="greek"
            *ngIf="service.functionArgsForm.controls.beta.errors?.required"
            >!<span class="centerize">β</span></mat-error
        >
    </mat-form-field>
    <mat-form-field appearance="fill" class="math-field greek">
        <mat-label class="math-label">γ</mat-label>
        <input
            formControlName="gamma"
            type="number"
            matInput
            autocomplete="off"
        />
        <span
            matSuffix
            class="rnd"
            (click)="
                service.randomize(
                    service.functionArgsForm,
                    'gamma',
                    randomFunctionArg
                )
            "
        ></span>
        <mat-error *ngIf="service.functionArgsForm.controls.gamma.errors?.range"
            ><span class="centerize">γ</span>∉[-100;100]</mat-error
        >
        <mat-error
            class="greek"
            *ngIf="service.functionArgsForm.controls.gamma.errors?.required"
            >!<span class="centerize">γ</span></mat-error
        >
    </mat-form-field>
    <mat-form-field appearance="fill" class="math-field greek">
        <mat-label class="math-label">δ</mat-label>
        <input
            formControlName="delta"
            type="number"
            matInput
            autocomplete="off"
        />
        <span
            matSuffix
            class="rnd"
            (click)="
                service.randomize(
                    service.functionArgsForm,
                    'delta',
                    randomFunctionArg
                )
            "
        ></span>
        <mat-error *ngIf="service.functionArgsForm.controls.delta.errors?.range"
            ><span class="centerize">δ</span>∉[-100;100]</mat-error
        >
        <mat-error
            class="greek"
            *ngIf="service.functionArgsForm.controls.delta.errors?.required"
            >!<span class="centerize">δ</span></mat-error
        >
    </mat-form-field>
    <mat-form-field appearance="fill" class="math-field greek">
        <mat-label class="math-label">ε</mat-label>
        <input
            formControlName="epsilon"
            type="number"
            matInput
            autocomplete="off"
        />
        <span
            matSuffix
            class="rnd"
            (click)="
                service.randomize(
                    service.functionArgsForm,
                    'epsilon',
                    randomFunctionArg()
                )
            "
        ></span>
        <mat-error
            *ngIf="service.functionArgsForm.controls.epsilon.errors?.range"
            ><span class="centerize">ε</span>∉[-100;100]</mat-error
        >
        <mat-error
            class="greek"
            *ngIf="service.functionArgsForm.controls.epsilon.errors?.required"
            >!<span class="centerize">ε</span></mat-error
        >
    </mat-form-field>
</div>
<mat-divider></mat-divider>
<div class="subtitle">
    Параметры Окна
    <span
        class="rnd"
        (click)="service.randomizeWindowFrame()"
        matTooltip="Может повлечь за собой изменение Xo"
    ></span>
</div>
<div class="math-inputs" [formGroup]="service.windowFrameForm">
    <mat-form-field appearance="fill" class="math-field window">
        <mat-label class="math-label">A</mat-label>
        <input
            formControlName="windowA"
            type="number"
            matInput
            autocomplete="off"
        />
        <span
            matSuffix
            class="rnd"
            (click)="
                service.randomize(
                    service.windowFrameForm,
                    'windowA',
                    randomFieldMinimum
                )
            "
        ></span>
        <mat-error
            *ngIf="
                service.windowFrameForm.controls.windowA.errors?.illegalBound
            "
            >A>B</mat-error
        >
        <mat-error
            *ngIf="service.windowFrameForm.controls.windowA.errors?.required"
            >!A</mat-error
        >
    </mat-form-field>
    <mat-form-field appearance="fill" class="math-field window">
        <mat-label class="math-label">B</mat-label>
        <input
            formControlName="windowB"
            type="number"
            matInput
            autocomplete="off"
        />
        <span
            matSuffix
            class="rnd"
            (click)="
                service.randomize(
                    service.windowFrameForm,
                    'windowB',
                    randomFieldMaximum
                )
            "
        ></span>
        <mat-error
            *ngIf="
                service.windowFrameForm.controls.windowB.errors?.illegalBound
            "
            >B < A</mat-error
        >
        <mat-error
            *ngIf="service.windowFrameForm.controls.windowB.errors?.required"
            >!B</mat-error
        >
    </mat-form-field>
    <mat-form-field appearance="fill" class="math-field window">
        <mat-label class="math-label">C</mat-label>
        <input
            formControlName="windowC"
            type="number"
            matInput
            autocomplete="off"
        />
        <span
            matSuffix
            class="rnd"
            (click)="
                service.randomize(
                    service.windowFrameForm,
                    'windowC',
                    randomFieldMinimum
                )
            "
        ></span>
        <mat-error
            *ngIf="
                service.windowFrameForm.controls.windowC.errors?.illegalBound
            "
            >C > D</mat-error
        >
        <mat-error
            *ngIf="service.windowFrameForm.controls.windowC.errors?.required"
            >!C</mat-error
        >
    </mat-form-field>
    <mat-form-field appearance="fill" class="math-field window">
        <mat-label class="math-label">D</mat-label>
        <input
            formControlName="windowD"
            type="number"
            matInput
            autocomplete="off"
        />
        <span
            matSuffix
            class="rnd"
            (click)="
                service.randomize(
                    service.windowFrameForm,
                    'windowD',
                    randomFieldMaximum
                )
            "
        ></span>
        <mat-error
            *ngIf="
                service.windowFrameForm.controls.windowD.errors?.illegalBound
            "
            >D < C</mat-error
        >
        <mat-error
            *ngIf="service.windowFrameForm.controls.windowD.errors?.required"
            >!D</mat-error
        >
    </mat-form-field>
</div>
<mat-divider></mat-divider>
<div class="subtitle">
    Прочие параметры
    <span class="rnd" (click)="service.randomizeOtherArgs()"></span>
</div>
<div class="math-inputs" [formGroup]="service.interpolationForm">
    <mat-form-field appearance="fill" class="math-field window">
        <mat-label class="math-label">n</mat-label>
        <input formControlName="n" type="number" matInput autocomplete="off" />
        <span
            matSuffix
            class="rnd"
            (click)="
                service.randomize(
                    service.interpolationForm,
                    'n',
                    randomInterpolationSteps
                )
            "
        ></span>
        <mat-error
            *ngIf="
                service.interpolationForm.controls.n.errors?.range &&
                !service.interpolationForm.controls.p.errors?.required
            "
            >n∉[1;500]</mat-error
        >
        <mat-error *ngIf="service.interpolationForm.controls.n.errors?.required"
            >!n</mat-error
        >
    </mat-form-field>
    <mat-form-field appearance="fill" class="math-field window">
        <mat-label class="math-label">m</mat-label>
        <input formControlName="m" type="number" matInput autocomplete="off" />
        <span
            matSuffix
            class="rnd"
            (click)="
                service.randomize(
                    service.interpolationForm,
                    'm',
                    randomInterpolationSteps
                )
            "
        ></span>
        <mat-error
            *ngIf="
                service.interpolationForm.controls.m.errors?.range &&
                !service.interpolationForm.controls.p.errors?.required
            "
            >m∉[1;500]</mat-error
        >
        <mat-error *ngIf="service.interpolationForm.controls.m.errors?.required"
            >!m</mat-error
        >
    </mat-form-field>
    <mat-form-field appearance="fill" class="math-field window">
        <mat-label class="math-label">p</mat-label>
        <input formControlName="p" type="number" matInput autocomplete="off" />
        <span
            matSuffix
            class="rnd"
            (click)="
                service.randomize(
                    service.interpolationForm,
                    'p',
                    randomPrescision
                )
            "
        ></span>
        <mat-error
            *ngIf="
                service.interpolationForm.controls.p.errors?.range &&
                !service.interpolationForm.controls.p.errors?.required
            "
            >p∉[1;25]</mat-error
        >
        <mat-error *ngIf="service.interpolationForm.controls.p.errors?.required"
            >!p</mat-error
        >
    </mat-form-field>
    <mat-form-field appearance="fill" class="math-field window">
        <mat-label class="math-label"
            >x<span class="under-stroke">o</span></mat-label
        >
        <input
            formControlName="XZero"
            type="number"
            matInput
            autocomplete="off"
        />
        <span
            matSuffix
            class="rnd"
            (click)="
                service.randomize(
                    service.interpolationForm,
                    'XZero',
                    randomXZero
                )
            "
        ></span>
        <mat-error
            *ngIf="
                service.interpolationForm.controls.XZero.errors?.required &&
                !service.interpolationForm.controls.XZero.errors
                    ?.illegalXZeroValue
            "
            >!x<span class="under-stroke">o</span></mat-error
        >
        <mat-error
            *ngIf="
                service.interpolationForm.controls.XZero.errors
                    ?.illegalXZeroValue
            "
            >!X<span class="under-stroke">o</span></mat-error
        >
    </mat-form-field>
</div>
