.function {
    display: block;
    min-width: 300px;
    max-width: 300px;
    min-height: 50px;
    background-image: url('/assets/img/function.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1rem 1rem 0 1rem;
}
